<div class="container mt-4">

  <h1>Proyecto de Angular con Boostrap</h1>
  <h3 class="m-3 text-secondary">Ejemplo de subtitulo</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit autem hic a ullam temporibus dolorum deserunt aspernatur eligendi repudiandae harum, velit nam dicta dignissimos culpa reiciendis saepe asperiores unde. Aut sit vero praesentium consequuntur debitis. Necessitatibus corporis qui cumque exercitationem.</p>
  <button class="btn btn-primary w-100">Enviar</button>
</div>