main{
    background-image: url('../icons/html5.png'),url('../icons/css3.png'),url('../icons/js.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left, center, right; /* Posiciona cada imagen */

    
}
.manifesto{
    padding: 3em;
    background-color: #262626ab;
    color: white;
}