
body{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, #144d73, #380f3a);
}

.columns {
    column-width: 10rem;
}

.threecolumns {
    column-count: 3;
    column-gap: 2em;
    column-rule: thin dotted yellow;
}