<div>
  <!-- Primer ejercicio -->
  <div>
    <h2>Mecanismo de interpolación</h2>
    <p><b>El título de este proyecto es:</b> {{title}}</p>
    <p><b>Tu nombre es:</b> {{nombre}} {{apellido}}</p>
    <p><b>Tu edad es de: </b> {{edad}}</p>
    <p>{{esFumador()}}</p>
    <p>{{sueldos}}</p>
  </div>
  <hr>
  <!-- segundo ejercicio -->
  <div>
    <h2>Directiva *ngIf</h2>
    <p *ngIf="edad>=18; else menor">Eres mayor de edad</p>
    <ng-template #menor>
      <p>Eres menor de edad</p>
    </ng-template>
  </div>
  <hr>
  <div>
    <h2>Directiva *ngFor</h2>
    <ul>
      <li *ngFor="let sueldo of sueldos">{{sueldo}}</li>
    </ul>
  </div>
</div>