<div class="principal">
  <!-- Primer ejercicio -->
  <div class="cajas">
    <h2>Mecanismo de interpolación</h2>
    <p><b>El título de este proyecto es:</b> {{title}}</p>
    <p><b>Tu nombre es:</b> {{nombre}} {{apellido}}</p>
    <p><b>Tu edad es de: </b> {{edad}}</p>
    <p>{{esFumador()}}</p>
    <p>{{sueldos}}</p>
  </div>
  <hr>
  <!-- segundo ejercicio -->
  <div class="cajas">
    <h2>Directiva *ngIf</h2>
    <p *ngIf="edad>=18; else menor">Eres mayor de edad</p>
    <ng-template #menor>
      <p>Eres menor de edad</p>
    </ng-template>
  </div>
  <hr>
  <div class="cajas">
    <h2>Directiva *ngFor</h2>
    <ul>
      <li *ngFor="let sueldo of sueldos">{{sueldo}}</li>
    </ul>
  </div>
  <hr>
  <!--  -->
  <div class="cajas">
    <h2>*ngFor se puede usar con literal objetos</h2>
    <select name="provincias" id="provincias">
      <option *ngFor="let prov of provincias" value="{{prov.id}}">{{prov.nombre}}</option>
    </select>
  </div>
  <hr>
  <div class="cajas">
    <h2>Tabla del array creado</h2>
    <table>
      <tr>
        <td><b>ID</b></td>
        <td *ngFor="let prov of provincias">{{prov.id}}</td>
      </tr>
      <tr>
        <td><b>Nombre</b></td>
        <td *ngFor="let prov of provincias">{{prov.nombre}}</td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="cajas">
    <h2>Captura de eventos</h2>
    <button (click)="diHola()">Di Hola</button>
  </div>
  <hr>
  <div class="cajas">
    <h2>Contador</h2>
    <h1>{{contador}}</h1>
    <button (click)="incrementar()">+</button>
    <button (click)="decrementar()">-</button>
  </div>
  <!-- directiva ng model -->
  <hr>
  <div class="cajas">
    <h2>Diretiva ngModel</h2>
    <label for="nombre"> Nombre: </label>
    <input type="text" [(ngModel)]="nombre" name="nombre">
    <label for="apellido"> Apellido: </label>
    <input type="text" [(ngModel)]="apellido" name="apellido">
  </div>
</div>

<footer>
  <p>2025 &copy; Noelia Baños</p>
</footer>