@use 'sass:color';
// Reescribimos variables de Boostrap
$rojo: #f34f51;
$turquesa: #0098ae;
$oscuro: #212121;
$gris: #b5b5b5;

// asignar paleta a cambiarlos
// todos los colores primarios se va a cambiar al nuestro
$primary:$rojo;
$secondary: $turquesa;
$dark: $oscuro;

// Cards
$card-border-color:transparent;

// Tipografías
$display-font-weight:900;
$heading-font-weight:700;

// Nav links
$nav-link-color:$gris;
$nav-link-hover-color: color.scale($gris, $lightness: -40%);


// importamos Boostrap de node_modules
@import '../../node_modules/bootstrap/scss/bootstrap.scss';