html {
    box-sizing: border-box;
    font-size: 63.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clip_path {
    background-color: purple;
    height: 350px;
    width: 350px;

    /* clip path */
    /* se pueden poner dos valores en el round */
clip-path: inset(50px 10px 5px 50px round 50% 50% 0px 0px );
/* va en sentido agujas del reloj */
transition: clip-path ease 2s ;
}
.clip_path:hover {
    clip-path: inset(0);
}