// Variables

// fuentes
$main-font: 'Roboto',
san-serif;

// Colores
$main-color: #e8505b;
$secondary-color:#455a64;
$black: #000000;
$grey: #eceeef;
$white: #ffff;

//Separacion
$separation: 5rem;

// media-queries
$small: 480px;
$medium: 769px;
$big: 1024px;