// este archivo es un partial; será incluido en otro
// empieza por _ no se compila

$body_color: #ad4772!default;
$body_color_font: #fff!default;
$h1_color: #250f14!default;
$h2_color: #412b31;
$h1_size: 3rem;
$h2_size: 2rem;
$p_line: 1;
$font_body_size: 1.8rem;