@use 'basico.scss'as basico;
$main-color: cornflowerblue;
$secondary-color: crimson;

// BEM
.card {
    border: 2px solid black;
    color: $main-color;

    // propiedades básicas de la card
    &--grid {
        display: grid;
    }

    &__title {
        text-align: center;
        font-size: 2.4rem;
    }

    &__button {
        border: 1px solid black;
        padding: 2rem;

        // etc ...
        &--tomato {
            @extend .card__button;
            color: tomato;
        }

        &--olive {
            @extend .card__button;
            color: olive;
        }
    }
}