// para que funcione la bilbioteca math
@use 'sass:map'as map;
// Mediante el mecanismo de anidación de Sass aplica
// diferentes colores y tamaños de fuente a la lista del
// siguiente archivo .html: lista_menu.html. Los colores debes
// definirlo en una lista de Sass y los tamaños de fuentes en un
// mapa de Sass.

$colores: ("c1": rgb(243, 72, 20), "c2":rgb(20, 149, 158), "c3":rgb(82, 19, 165));
$tamanios: ("s": 9px, "m":12px, "l":20px, "xl":25px, "xxl":30px);

@use 'basico.scss';

h1 {
    margin-left: 10px;
    font-size: map-get($tamanios, 'xxl');
    color: map-get($colores, 'c3');
}

ul {
    color: map-get($colores, 'c1');
    font-size: map-get($tamanios, 'xl');
    padding-left: 10px;

    ul {
        color: map-get($colores, 'c2');
        font-size: map-get($tamanios, 'l');
        padding-left: 20px;

        ul {
            color: map-get($colores, 'c3');
            font-size: map-get($tamanios, 'm');
            padding-left: 30px;
        }
    }
}

li {
    margin-bottom: 5px;
}