@use 'basico.scss';

header{
    h1{
        color: darkgreen;
        margin: 1rem;
    }
}
main{
    h2{
        color: darkblue;
        margin-bottom: 1rem;
    }
}
footer{
    a{
        color: darkcyan;
        &:hover{
            text-decoration: none;
        }
    }
}