@use 'basico.scss';
// funcion creada
@function partir($tamanio, $numPartes){
    $resultado: calc($tamanio/$numPartes);
    @return $resultado;
}
// estilos a aplicar
.decimo{
    width: partir(900px, 2);
    background-color: palevioletred;
}