@use 'basico.scss' as basico;
// mixin
@mixin crear-grid($c:1, $r:auto, $gap:20px) {
    display: grid;
    grid-template-columns: repeat($c, 1fr);
    grid-template-rows: repeat($r, 1fr);
    gap: $gap;
}
// variables
$colores:("dark":#4e1752,"c1":#7E2E84, "c2":#D14081, "c3":#EF798A,"c4":#F9F5E3, "c5":#CCF5AC);
// estilos
h1{
    margin: 20px
}
.contenedor {
    @include crear-grid(3);
    margin-top: 20px;
}

.grid{
    padding: 8px;
    text-align: center;
    // para usar un mixin en otro archivo ponerlo asi:
    @include basico.flex-center;
    box-shadow: 2px 2px 5px map-get($colores, 'dark');
}
.header {

    background-color: map-get($colores, 'c1');
    
}

.main {
    background-color: map-get($colores, 'c2');
    
}

.footer {
    background-color: map-get($colores, 'c3');
    
}

.extra {
    background-color: map-get($colores, 'c4');
   
}
.extras {
    background-color: map-get($colores, 'c5');

}