@use '../base/vars'as v;
@use '../base/mixins'as m;

.class {
    background-color: v.$grey;
    padding-bottom: 2rem;


    &__title {
        font-family: v.$main-font;
        text-align: center;
        padding-top: v.$separation;
        margin-bottom: 1rem;
    }

    &__containers {
        @include m.tablet() {
            @include m.crear-grid(2);
        }
        @include m.desktop() {
            @include m.crear-grid(3);
        }
    }
}